<mat-toolbar color="primary">
	<span><a routerLink="/">Green Wave</a></span>
	<span class="spacer"></span>

	<!-- Toolbar menu for big screens -->
	<ul *ngIf="currentScreenSize=='Large' || currentScreenSize=='XLarge'">
		<li *ngIf="userIsAuthenticated && userStatus==='admin'">
			<button mat-button routerLink="/users/view" routerLinkActive="mat-accent">Users</button>
		</li>

		<!-- Canvass menu -->
		<li *ngIf="userIsAuthenticated && 
			(userStatus==='admin' || userStatus==='staff' || userStatus==='canvasser' || userStatus==='caller and canvasser')">
			<button mat-button [matMenuTriggerFor]="surveyMenu" #surveyMenuTrigger="matMenuTrigger"
				(click)="openSurveyMenu()">
				Canvass <mat-icon>arrow_drop_down</mat-icon>
			</button>
		</li>

		<!-- Voter menu -->
		<li *ngIf="userIsAuthenticated && 
			(userStatus==='admin' || userStatus==='staff' || userStatus==='canvasser' || userStatus==='caller and canvasser')">
			<button mat-button [matMenuTriggerFor]="voterMenu" #voterMenuTrigger="matMenuTrigger" (click)="openVoterMenu()">
				Voters <mat-icon>arrow_drop_down</mat-icon>
			</button>
		</li>

		<!-- Volunteers menu -->
		<li *ngIf="userIsAuthenticated && 
			(userStatus==='admin' || userStatus==='staff' || userStatus==='caller' || userStatus==='caller and canvasser')">
			<button mat-button [matMenuTriggerFor]="volunteerMenu" #volunteerMenuTrigger="matMenuTrigger"
				(click)="openVolunteerMenu()">
				Volunteers <mat-icon>arrow_drop_down</mat-icon>
			</button>
		</li>

		<li *ngIf="!userIsAuthenticated">
			<a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
		</li>
		<li *ngIf="!userIsAuthenticated">
			<a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Sign Up</a>
		</li>
		<li *ngIf="userIsAuthenticated">
			<button mat-button (click)="onLogout()">Log Out</button>
		</li>

	</ul>

	<!-------------------------- Icon menu fo SMALL screens ---------------------------->

	<button mat-icon-button *ngIf="(currentScreenSize=='Medium' || currentScreenSize=='Small' || currentScreenSize=='XSmall') && userIsAuthenticated" [matMenuTriggerFor]="menu">
		<mat-icon>menu</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item routerLink="/users/view" routerLinkActive="mat-accent"
			*ngIf="userIsAuthenticated && userStatus==='admin'">Users</button>
		<button mat-menu-item [matMenuTriggerFor]="surveyMenu"
			*ngIf="userIsAuthenticated && (userStatus==='admin' || userStatus==='staff' || userStatus==='canvasser'
			|| userStatus==='caller and canvasser')">Canvass</button>
		<button mat-menu-item [matMenuTriggerFor]="voterMenu"
			*ngIf="userIsAuthenticated && (userStatus==='admin' || userStatus==='staff' || userStatus==='canvasser'
			|| userStatus==='caller and canvasser')">Voters</button>
		<button mat-menu-item [matMenuTriggerFor]="volunteerMenu"
			*ngIf="userIsAuthenticated && (userStatus==='admin' || userStatus==='staff' || userStatus==='caller'
			|| userStatus==='caller and canvasser')">Volunteers</button>
		<button mat-menu-item (click)="onLogout()" *ngIf="userIsAuthenticated">Log Out</button>
	</mat-menu>

	<ul *ngIf="(currentScreenSize=='Medium' || currentScreenSize=='Small' || currentScreenSize=='XSmall') && !userIsAuthenticated">
		<li>
			<a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
		</li>
		<li>
			<a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Sign Up</a>
		</li>
	</ul>

	<!--------------------------- Sub Menus ------------------------------------------>

	<!-- Canvass/Survey Menu -->
	<mat-menu #surveyMenu="matMenu" [overlapTrigger]="false">
		<span (mouseleave)="closeSurveyMenu()">
			<button mat-menu-item routerLink="/voters/find">
				<span>Start Canvassing</span>
			</button>
			<button mat-menu-item routerLink="/surveyanswer/view">
				<span>View Canvassed</span>
			</button>
			<button mat-menu-item routerLink="/survey/create" *ngIf="userStatus==='admin' || userStatus==='staff'">
				<span>Edit Canvass Survey</span>
			</button>
		</span>
	</mat-menu>

	<!-- Voter Menu -->
	<mat-menu #voterMenu="matMenu" [overlapTrigger]="false">
		<span (mouseleave)="closeVoterMenu()">
			<button mat-menu-item routerLink="/voters/add" *ngIf="userIsAuthenticated && 
			(userStatus==='admin' || userStatus==='staff')">
				<mat-icon>add_circle_outline</mat-icon>
				<span>Add</span>
			</button>
			<button mat-menu-item routerLink="/voters/view-all">
				<mat-icon>people_outline</mat-icon>
				<span>View All</span>
			</button>
		</span>
	</mat-menu>

	<!-- Volunteers Menu -->
	<mat-menu #volunteerMenu="matMenu" [overlapTrigger]="false">
		<span (mouseleave)="closeVolunteerMenu()">
			<button mat-menu-item routerLink="/volunteers/create">
				<mat-icon>add_circle_outline</mat-icon>
				<span>Create</span>
			</button>
			<button mat-menu-item routerLink="/volunteers/view">
				<mat-icon>people_outline</mat-icon>
				<span>View All</span>
			</button>
		</span>
	</mat-menu>

</mat-toolbar>