<mat-toolbar color="primary">
	<span><a routerLink="/">Green Wave</a></span>
	<span class="spacer"></span>
	<ul>
		<li *ngIf="userIsAuthenticated && userStatus==='admin'">
			<a mat-button routerLink="/users/view" routerLinkActive="mat-accent">Users</a>
		</li>

		<li *ngIf="userIsAuthenticated && (userStatus==='admin' || userStatus==='staff' || userStatus==='canvasser' || userStatus==='caller and canvasser')">
			<button mat-icon-button [matMenuTriggerFor]="surveyMenu" #surveyMenuTrigger="matMenuTrigger" (click)="openSurveyMenu()">
      			Canvass <mat-icon>arrow_drop_down</mat-icon>
    		</button>
    	</li>
    	<mat-menu #surveyMenu="matMenu" [overlapTrigger]="false">
		    <span (mouseleave)="closeSurveyMenu()">
			    <button mat-menu-item routerLink="/voters/find">
			        <span>Start Canvassing</span>
			    </button>
			    <button mat-menu-item routerLink="/surveyanswer/view">
			        <span>View Canvassed</span>
			    </button>
			    <button mat-menu-item routerLink="/survey/create" *ngIf="userStatus==='admin' || userStatus==='staff'">
			        <span>Edit Canvass Survey</span>
			    </button>
			    <button mat-menu-item routerLink="/polls/add" *ngIf="userStatus==='admin' || userStatus==='staff'">
			        <span>Polls</span>
			    </button>
		    </span>
	    </mat-menu>

		<li *ngIf="userIsAuthenticated && (userStatus==='admin' || userStatus==='staff' || userStatus==='caller' || userStatus==='caller and canvasser')">
			<button mat-icon-button [matMenuTriggerFor]="volunteerMenu" #volunteerMenuTrigger="matMenuTrigger" (click)="openVolunteerMenu()">
      			Volunteers <mat-icon>arrow_drop_down</mat-icon>
    		</button>
    	</li>
    	<mat-menu #volunteerMenu="matMenu" [overlapTrigger]="false">
		    <span (mouseleave)="closeVolunteerMenu()">
			    <button mat-menu-item routerLink="/volunteers/create">
			        <mat-icon>add_circle_outline</mat-icon>
			        <span>Create</span>
			    </button>
			    <button mat-menu-item routerLink="/volunteers/view">
			        <mat-icon>people_outline</mat-icon>
			        <span>View All</span>
			    </button>
		    </span>
	    </mat-menu>
	    
		<li *ngIf="!userIsAuthenticated">
			<a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
		</li>
		<li *ngIf="!userIsAuthenticated">
			<a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Sign Up</a>
		</li>  
		<li *ngIf="userIsAuthenticated">
			<button mat-button (click)="onLogout()">Log Out</button>
		</li>  
		<!--
		<li *ngIf="userIsAuthenticated" >
			<button mat-icon-button  [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
			  	<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item>
					<mat-icon>adjust</mat-icon>
					<span>Account Overview</span>
				</button>
				<button mat-menu-item>
					<mat-icon>voicemail</mat-icon>
					<span>View Orders</span>
				</button>
				<mat-divider></mat-divider>
				<button mat-menu-item>
					<mat-icon>notifications_off</mat-icon>
					<span>Change Address</span>
				</button>
				<button mat-menu-item>
					<mat-icon>toys</mat-icon>
					<span>Change Password</span>
				</button>
			</mat-menu>
		</li> -->
	</ul>
</mat-toolbar>